@*@model List<WebProject1.DAL.user>*@

@using WebProject1.DAL;
@using WebProject1;
@*@model dynamic*@

@{
    ViewBag.Title = "MainPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- BEGIN | Header -->
<header class="ht-header">
    <div class="container">
        <nav class="navbar navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <a href="../../Home/MainPage"><img class="logo" src="~/Images/logo1.png" alt="" width="119" height="58"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">
                    <li class="dropdown first">
                        <a class="btn btn-default " href="../../Home/MainPage">
                            Home
                        </a>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default" href="../../courtofficer/addcomplaint">
                            Add Complaint
                        </a>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default" href="../../courtofficer/initiateprisonertransfer">
                            Initiate Prisoner Transfer Request
                        </a>
                    </li>
                    


                </ul>
                <ul class="nav navbar-nav flex-child-menu menu-right">

                    
                    <li class="btn"><a href="../../Home/Login">Log Out</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <!-- top search form -->
        <form id="searchBar" action="../../movies/searchMovie">
            <div class="top-search">
                <select name="options">
                    <option name="byActor" value="byActor">Prisoners</option>
                    <option name="byName" value="byName">By Name</option>
                    <option name="byGenre" value="byGenre">By Genre</option>

                </select>
                <input type="text" name="searchText" placeholder="Search for movie or actors">
                <button id="searchButton" class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>

    </div>
</header>
<!-- END | Header -->



<div class="slider movie-items">
    <div class="container">
        <div class="row">
            
            <div class="slick-multiItemSlider">

                <button class="btn"><a href="../../Home/Login">Add Complaint</a></button>
                <button class="btn"><a href="../../Home/Login">Initiate Prisoner Transfer Request</a></button>

            </div>
        </div>
    </div>
</div>







