* {
    margin: 0;
    padding: 0;
}
.chankana{
    color:white;
}
.container {
    
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

    .container .item {
        margin: 1em;
        text-align: center;
        text-decoration: none;
    }

    .container .item .poster {
            width: 185px;
            height: 278px;
            background-position: center;
            background-size: cover;
            margin-bottom: .5em;
            box-shadow: 0 10px 17px rgba(0, 0, 0, 0.15);
    }

    .container .item p {
            width: 185px;
            font-size: .9em;
    }

