@{
    ViewBag.Title = "Jailer Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userID = Session["userid"];
}


<!-- BEGIN | Header -->
<header class="ht-header">
    <div class="container">
        <nav class="navbar navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <a href="#"><img class="logo" src="~/Images/logo1.png" alt="" width="119" height="58"><div><h4></h4></div></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">
                    <li class="dropdown first">
                        <a class="btn btn-default " href="#">
                            Home
                        </a>
                    </li>

                    <li class="dropdown first">
                        <a class="btn btn-default" href="#">
                            Pending Prisoner Transfer Requests
                        </a>
                    </li>

                    <li class="dropdown first">
                        <a class="btn btn-default" href="../../jailers/AllRequests">
                            All Prisoner Transfer Requests
                        </a>
                    </li>


                </ul>
                <ul class="nav navbar-nav flex-child-menu menu-right">
                    <li class="btn"><a href="../../jailers/Details/@userID">Settings</a></li>
                    <li class="btn"><a href="../../Home/Login">Log Out</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <!-- top search form -->
        <form id="searchBar" action="../../jailers/SearchRequest">
            <div class="top-search">
                <select name="options">
                    <option name="byFromJail" value="byFromJail">From Jail</option>
                    <option name="byToJail" value="byToJail">To Jail</option>
                    <option name="byStatus" value="byStatus">By Status</option>

                </select>
                <input type="text" name="searchText" placeholder="Search for transfer requests">
                <button id="searchButton" class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>

    </div>
</header>
<!-- END | Header -->


<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">

                    <ul class="breadcumb">
                        <li class="active"><a href="../../jailers/Home">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span>Edit Profile</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-12 col-sm-12 col-xs-12">


                <form action="../../jailers/ConfirmChangePassword/@Model.id" method="POST" class="my_form" name="my_form" onsubmit="return validateLoginForm()">
                    @{
                        if (Session["passwordMessage"] != null)
                        {
                            <p style="color: red">@Session["passwordMessage"]</p>
                        }

                    }


                    <p>Old Password</p>
                    <input required type="password" name="oldpassword" id="password" placeholder="Enter Old Password" style="width: 50%;">
                    <p>New Password</p>
                    <input required type="password" name="newpassword" id="password" placeholder="Enter New Password" style="width: 50%;">
                    <p>Confirm New Password</p>
                    <input required type="password" name="newpassword1" id="password" placeholder="Enter New Password" style="width: 50%; margin-bottom: 2%;">
                    <input type="submit" name="" id="LoginButton" value="Change Password" class="mybutton" style="margin-bottom: 2%;">


                </form>


                <div>
                    <button class="mybutton reject" onclick="window.location.href = '@Url.Action("Home", "jailers")';">Back</button>

                </div>
            </div>
        </div>
    </div>
</div>
